form, h2 {
    text-align: center;
}

span {
    float: right;
}

input {
    width: 20%;
}
form {
    text-align: center;
}

#name {
    margin-right: 5px;
}

button#reset {
    text-align: center;
}